h1,h2,h3,h4 {
    font-family: 'Gloria Hallelujah';
}
body{
    background-color: black;
    background-size: cover;
}
#title{
    color: red;
}

#tarjet-out{
    margin: 0%;
    border: 13px solid rgb(215, 192, 79);
    border-radius: 20px;
}
#tarjet-in{
    padding: 10px;
    color: rgb(46, 15, 131);
} 

.img-bg{
    background-color: rgba(53, 53, 53, 0.787);
    border: 4px solid rgb(215, 192, 79);
}

.img-bg #poke-img{
   
    margin: 10px 50px;
    
}

#tarjet-in .justify-text p{
    font-weight: 600;
    border: 2px;
    border-bottom: 1px solid;
}

